html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    top: 0px;
    left: 0px;
}

header .mobile {
    display: none;
}

.img-container-mobile{
    display: none;
}

.learning-mobile {
    display: none;
}

.video-container-mobile {
    display: none;
}

h1, h2 {
    color: hsl(0, 0%, 25%);
}

h1 {
    font-size: 3rem;
}

p {
    color: hsl(0, 0%, 15%)
}

header nav ul {
    display: flex;
    margin-right: 2rem;

}
nav li {
    padding-left: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
}
nav a {
    color: black;
    
}

header .logo {
    margin-left: 2rem;
    display: flex;

}

#colmar {
    font-weight: bold;
}

#academy {
    font-weight: bold;
    color: gray;
}

.main-content {
    position: relative;
    top: 3.8rem;
    margin-bottom: 6rem;
}

.sign-up {
    background-color: hsl(0, 0%, 85%);
    display: flex;
    
}

.sign-up .img-container {
    margin: 2rem 1.5rem;
    width: 60%;
    overflow: hidden;
}

.sign-up .img-container img {
   max-width: 100%;
   height: auto;
   display: block;
}

.sign-up-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.5rem;
    margin: 2rem 1.5rem;

}

.sign-up-content h1{
    width: 60%;
}

.sign-up-content p {
    width: 65%;
    font-size: 1.5rem;
    font-weight: bold;
}

.button {
    margin-top: 2rem;
    width: 60%;
    font-size: 1.5rem;
    border-radius: 2.5px;
    text-align: center;
    background-color: hsl(0, 0%, 25%);
    padding: 1rem 0;
}

.button a{
    color: white;
    text-decoration: none;
}

.information-section {
    display: flex;
    background-color: white;
}

.information-section a {
    color:rgb(0, 119, 255);
}

.information-content {
    margin-left: 1.5rem;
}

.information-left{
    width: 60%;
}

.information-left .img-container {
    margin: 2rem 1.5rem;
    overflow: hidden;
}

.information-left .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.information-left .information-content {
    width: 65%;
}

.information-left .information-content h1 {
    margin-bottom: 1.5rem;
}

.information-left .information-content span {
    display: block;
    margin-bottom: 2rem;
    color: hsl(0, 0%, 5%);
}

.information-right {
    margin-top: 1rem;
}

.information-box {
    display: flex;
    align-items: center;
}

.information-box .img-container {
    padding:1rem;
    width: 35%;
}

.information-box .information-content {
    width: 65%;
}

.information-box .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

#guest-lecture {
    background-color: hsl(0, 0%, 85%);
}


.learning-section {
    background-color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.learning-section h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex: 0 0 100%; /* Die Überschrift nicht mit einbeziehen in der Flexbox" */
}

.learning-box {
    background-color: white;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 30rem;
}

.learning-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

.learning-content{
   padding-left: 1rem; 
}

.learning-content p {
    margin-bottom: 1.5rem;
}

.learning-content h3 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#thesis {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0;
}

.thesisexhibit-section {
    display: flex;
}

.thesisexhibit-left {
    width: 60%;
}

.thesisexhibit-left .video-container {
    margin: 2rem 1.5rem 1.5rem 1.5rem;
    overflow: hidden;
}

.thesisexhibit-left .video-container video {
    max-width: 100%;
    height: auto;
    display: block;
}

.thesisexhibit-left .thesisexhibit-content {
    /*margin-bottom: rem;*/
    margin-left: 1.5rem;
}

.thesisexhibit-left .thesisexhibit-content h2 {
    margin-bottom: 0.5rem;
}

.thesisexhibit-content {
    width: 65%
}

.thesisexhibit-box {
    display: flex;
    align-items: center;
}

.thesisexhibit-box .img-container {
    padding:1rem;
    width: 35%;
}


.thesisexhibit-box .img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

#fisma {
    background-color: hsl(0, 0%, 85%);
    margin-top: 2rem;
}

footer {
    border-top: 1px solid silver;
    height: 6.25rem;
}

.footer-content {
    margin-top: 1rem;
    margin-left: 1.5rem;
    font-size: 0.875rem;
}

.copyright {
    float: left;
}

.terms-primacy {
    float: right;
    word-spacing: 0.4rem;
}

@media only screen and (max-width: 600px) {

    header .logo {
        display: none;
    }
    header .desktop {
        display: none
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .mobile ul {
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header .mobile li {
        padding: 0;
    }

    .sign-up {
        display: block;
        width: 100%;
    }

    .sign-up .img-container {
        width: 100%;
        margin: 0;    
    }

    .sign-up .img-container img {
        max-width: 100%;
        display: block;
        height: auto%;
        margin: 0 auto:
    }

    .sign-up-content {
        max-width: 100%;
        margin-left: 1.5rem;
    }

    .sign-up-content h1 p {
        width: 100%;
    }

    .sign-up-content h1 {
        font-size: 2.1rem;
        font-weight: 800;
    }

    .button {
        margin: 0 auto;
        width: 100%;
        background-color: hsl(0, 0%, 65%);
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .information-left {
        display: none;
    }

    .information-right {
        display: block;
        width: 100%;
    }

    .information-right .information-box {
        display: block;
        width: 100%;
        margin-bottom: 4rem;
    }

    .information-right .img-container {
        display: none;
    }

    .img-container-mobile {
        display: block;
        width: 100%;
    }

    .img-container-mobile img {
        max-width: 95%;
        display: block;
        height: auto%;
        margin: 0 auto;
    }

    #guest-lecture {
        background-color: white;
    }

    .learning-box {
        display: none;
    }

    .learning-section{
        background-color: white;
    }

    .learning-section h1{
        padding: 0;;

    }

    .learning-mobile {
        width: 95%;
        display: block;
        background-color: hsl(0, 0%, 85%);
        margin-bottom: 0.5rem;
    }

    .learning-mobile h2 {
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .thesisexhibit-right {
        display: none;
    }

    .thesisexhibit-content {
        display: none;
    }

    .thesisexhibit-section {
        display: block;
    }

    .thesisexhibit-left {
       display: none;
    }

    .video-container-mobile {
        display: block;
        margin-bottom: 2rem;
    }

    .video-container-mobile video {
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto:
    }

    footer {
        border-top: none;
    }

    .footer-content {
        margin: 0;
    }

    .footer-content span {
        clear: right;
        padding-top: 4rem;
    }
   
}